svg .background {
	fill: #f8f8f8;
}

svg .line-segment {
    stroke-width: 2px;
    stroke: rgb(64, 95, 237);
}

svg .line-highlight {
    stroke-width: 2px;
    stroke: rgb(255, 0, 175);
}

svg .draggable-point {
    fill: rgb(255, 165, 0);
    stroke: #f8f8f8;
    stroke-width: 1;
    cursor: pointer
}